@using Site.Models;
@section head {
    <link href="@Url.Content("~/content/theme/about.css")" rel="stylesheet" type="text/css" />
}

<div class="page-top-banner page-about">
    <div class="container">
        <div class="header">
            <h3>资质证书</h3>
            <p>彰显企业荣誉与实力。</p>
        </div>
    </div>
</div>

<div class="page-common-content cer-content">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="#">关于我们</a></li>
            <li class="active">资质证书</li>
        </ol>
        <div class="cer-viewport">
            @{
                var colen = 3;
                var certs = iMStore.Certificates.ToArray();
                for (var i = 0; i <= certs.Length / colen; i++) {
                    var start = colen * i;
                    var end = start + colen - 1;

                    if (end > certs.Length - 1) {
                        end = certs.Length - 1;
                    }

                    if (end <= start) {
                        continue;
                    }

                    <div class="row cer-row">
                        @for (var j = start; j <= end; j++) {
                            <div class="col-xs-@(12/colen) cer-col">
                                <div class="cer-item">
                                    <a href="@certs[j].Url" target="_blank" class="cer-image">
                                        <img src="@certs[j].Url" alt="@certs[j].Id" title="@certs[j].Id" />
                                    </a>
                                    <div class="cer-title">@certs[j].Title</div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/scripts/certificate.js")" type="text/javascript"></script>
}