@using Site.Models;
@section head {
    <link href="@Url.Content("~/content/theme/unslider.css")" rel="stylesheet" type="text/css" />
}

<div class="index-top-banner">
    <div class="top-banner">
        <ul>
            @foreach (var figure in iMStore.Carousel.OrderBy(c => c.Index)) {
                <li>
                    @if (!string.IsNullOrWhiteSpace(figure.Url) && string.IsNullOrWhiteSpace(figure.Title)) {
                        <a href="@figure.Url" target="_blank">
                            <img alt="@figure.Comment" title="@figure.Comment" class="@figure.BgClass" src="/Content/images/ffffff.gif" />
                        </a>
                    } else {
                        <img alt="@figure.Comment" title="@figure.Comment" class="@figure.BgClass" src="/Content/images/ffffff.gif" />
                    }

                    @if (!string.IsNullOrWhiteSpace(figure.Title)) {
                        <div class="container">
                            <div class="row-box">
                                <div class="slogan">
                                    <h1>@figure.Title</h1>
                                    <p>@figure.Subtitle</p>
                                    <a href="@figure.Url" target="_blank" class="slogan-btn">@figure.BtnText</a>
                                </div>
                            </div>
                        </div>
                    }
                </li>
            }
        </ul>
    </div>
</div>

<div class="index-top-events">
    <div class="container top-events">
        <div class="row">
            <div class="col-xs-3">
                <a href="/about" target="_blank" class="events">
                    <div class="ims-icon-font ims-icon-font-why event-icon"></div>
                    <div class="slogan">
                        <h3>选择艾睿普</h3>
                        <p>全面了解艾睿普</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="/news" target="_blank" class="events">
                    <div class="ims-icon-font ims-icon-font-gonggao event-icon"></div>
                    <div class="slogan">
                        <h3>最新动态</h3>
                        <p>企业新闻，及时了解</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="//www.taobao.com" target="_blank" class="events">
                    <div class="ims-icon-font ims-icon-font-gift event-icon"></div>
                    <div class="slogan">
                        <h3>限时优惠</h3>
                        <p>全线产品8折起</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="/product" target="_blank" class="events">
                    <div class="ims-icon-font ims-icon-font-new event-icon"></div>
                    <div class="slogan">
                        <h3>新品上线</h3>
                        <p>你的关注，我们的动力</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="index-products-sale">
    <div class="container products-sale">
        <div class="products-title">
            领先、安全、稳定的产品
        </div>
        <div class="sale-box">
            <ul class="tabs">
                <li class="tab-item active">
                    <div>硬件产品系列</div>
                </li>
                <li class="tab-item">
                    <div>软件产品系列</div>
                </li>
            </ul>
            <div class="content">
                <div class="content-item active">
                    <!--全量模板-->
                    <div class="container-fluid">
                        @{
                            var hardwares = iMStore.Hardware.OrderBy(h => h.Index).ToArray();
                            for (var i = 0; i < hardwares.Length; i++) {
                                if ((i % 2) > 0) {
                                    continue;
                                }

                                var prosprev = "pros0";
                                var prosnext = "pros1";
                                if ((i + 1) == hardwares.Length
                                    || (i + 2) == hardwares.Length) {
                                    prosprev = "pros4";
                                    prosnext = "pros5";
                                } else if (i > 0) {
                                    prosprev = "pros2";
                                    prosnext = "pros3";
                                }

                                <div class="row">
                                    <div class="col-xs-6 @prosprev">
                                        @{
                                            var hardware1 = hardwares[i];
                                            if (hardware1 != null) {
                                                <article>
                                                    <figure class="products-main">
                                                        <img class="products-icon @string.Format("product-icons-{0}{1:D2}",hardware1.Type, hardware1.Index)" src="/Content/images/ffffff.gif">
                                                        <figcaption>
                                                            <h3>@hardware1.Name</h3>
                                                            <p>@hardware1.Comment</p>
                                                            @*<div class="products-image">
                                                                    <img alt="" src="@hardware1.Picture">
                                                                    <div class="bg"></div>
                                                                    <div class="products-detail">
                                                                        <a href="@hardware1.Url" target="_blank">了解详情</a>
                                                                    </div>
                                                                </div>*@
                                                        </figcaption>
                                                    </figure>
                                                    <div class="products-price">
                                                        @*<p>
                                                                <span>原价：<small class="old">¥ <strong>@string.Format("{0:F2}", hardware1.Original)</strong> /套</small></span>
                                                                <span>优惠：<small>¥ <strong>@string.Format("{0:F2}", hardware1.Price)</strong> /套</small></span>
                                                            </p>*@
                                                        <a href="@hardware1.Url" target="_blank">了解详情</a>
                                                    </div>
                                                </article>
                                            }
                                        }
                                    </div>
                                    <div class="col-xs-6 @prosnext">
                                        @{
                                            if (i + 1 < hardwares.Length) {
                                                var hardware2 = hardwares[i + 1];
                                                if (hardware2 != null) {
                                                    <article>
                                                        <figure class="products-main">
                                                            <img class="products-icon @string.Format("product-icons-{0}{1:D2}",hardware2.Type, hardware2.Index)" src="/Content/images/ffffff.gif">
                                                            <figcaption>
                                                                <h3>@hardware2.Name</h3>
                                                                <p>@hardware2.Comment</p>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="products-price">
                                                            <a href="@hardware2.Url" target="_blank">了解详情</a>
                                                        </div>
                                                    </article>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="content-item">
                    <div class="container-fluid">
                        @{
                            var softwares = iMStore.Software.OrderBy(h => h.Index).ToArray();
                            for (var i = 0; i < softwares.Length; i++) {
                                if ((i % 2) > 0) {
                                    continue;
                                }

                                var prosprev = "pros0";
                                var prosnext = "pros1";
                                if ((i + 1) == softwares.Length
                                    || (i + 2) == softwares.Length) {
                                    prosprev = "pros4";
                                    prosnext = "pros5";
                                } else if (i > 0) {
                                    prosprev = "pros2";
                                    prosnext = "pros3";
                                }

                                <div class="row">
                                    <div class="col-xs-6 @prosprev">
                                        @{
                                            var software1 = softwares[i];
                                            if (software1 != null) {
                                                <article>
                                                    <figure class="products-main">
                                                        <img class="products-icon @string.Format("product-icons-{0}{1:D2}",software1.Type, software1.Index)" src="/Content/images/ffffff.gif">
                                                        <figcaption>
                                                            <h3>@software1.Name</h3>
                                                            <p>@software1.Comment</p>
                                                        </figcaption>
                                                    </figure>
                                                    <div class="products-price">
                                                        <a href="@software1.Url" target="_blank">了解详情</a>
                                                    </div>
                                                </article>
                                            }
                                        }
                                    </div>
                                    <div class="col-xs-6 @prosnext">
                                        @{
                                            if (i + 1 < softwares.Length) {
                                                var software2 = softwares[i + 1];
                                                if (software2 != null) {
                                                    <article>
                                                        <figure class="products-main">
                                                            <img class="products-icon @string.Format("product-icons-{0}{1:D2}",software2.Type, software2.Index)" src="/Content/images/ffffff.gif">
                                                            <figcaption>
                                                                <h3>@software2.Name</h3>
                                                                <p>@software2.Comment</p>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="products-price">
                                                            <a href="@software2.Url" target="_blank">了解详情</a>
                                                        </div>
                                                    </article>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="index-solutions">
    <div class="container solutions-box">
        <div class="solutions-title">
            成熟、专业、高效的解决方案
        </div>
        <div class="solutions-content">
            <div class="row bottom">
                <div class="col-xs-4">
                    <div class="solutions-item">
                        @{
                            var hsolution1 = iMStore.Hsolution.Find(s => s.Index == 1);
                            if (hsolution1 != null) {
                                <article>
                                    <figure>
                                        <img alt="" src="@hsolution1.Image">
                                        <div class="bg"></div>
                                        <figcaption>
                                            <div class="ims-icon-font ims-icon-font-telecom solution-icon"></div>
                                            <h3>@hsolution1.Name</h3>
                                            <p>@hsolution1.Comment</p>
                                            <a href="@hsolution1.Url" target="_blank">查看详情</a>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="solutions-item">
                        @{
                            var hsolution2 = iMStore.Hsolution.Find(s => s.Index == 2);
                            if (hsolution2 != null) {
                                <article>
                                    <figure>
                                        <img alt="" src="@hsolution2.Image">
                                        <div class="bg"></div>
                                        <figcaption>
                                            <div class="ims-icon-font ims-icon-font-power solution-icon"></div>
                                            <h3>@hsolution2.Name</h3>
                                            <p>@hsolution2.Comment</p>
                                            <a href="@hsolution2.Url" target="_blank">查看详情</a>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="solutions-item">
                        @{
                            var hsolution3 = iMStore.Hsolution.Find(s => s.Index == 3);
                            if (hsolution3 != null) {
                                <article>
                                    <figure>
                                        <img alt="" src="@hsolution3.Image">
                                        <div class="bg"></div>
                                        <figcaption>
                                            <div class="ims-icon-font ims-icon-font-nongye solution-icon"></div>
                                            <h3>@hsolution3.Name</h3>
                                            <p>@hsolution3.Comment</p>
                                            <a href="@hsolution3.Url" target="_blank">查看详情</a>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="solutions-item">
                        @{
                            var hsolution4 = iMStore.Hsolution.Find(s => s.Index == 4);
                            if (hsolution4 != null) {
                                <article>
                                    <figure>
                                        <img alt="" src="@hsolution4.Image">
                                        <div class="bg even"></div>
                                        <figcaption>
                                            <div class="ims-icon-font ims-icon-font-zhengfu solution-icon"></div>
                                            <h3>@hsolution4.Name</h3>
                                            <p>@hsolution4.Comment</p>
                                            <a href="@hsolution4.Url" target="_blank">查看详情</a>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="solutions-item">
                        @{
                            var tsolution1 = iMStore.Tsolution.Find(s => s.Index == 1);
                            if (tsolution1 != null) {
                                <article>
                                    <figure>
                                        <img alt="" src="@tsolution1.Image">
                                        <div class="bg even"></div>
                                        <figcaption>
                                            <div class="ims-icon-font ims-icon-font-qiye solution-icon"></div>
                                            <h3>@tsolution1.Name</h3>
                                            <p>@tsolution1.Comment</p>
                                            <a href="@tsolution1.Url" target="_blank">查看详情</a>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="solutions-item">
                        @{
                            var tsolution2 = iMStore.Tsolution.Find(s => s.Index == 2);
                            if (tsolution2 != null) {
                                <article>
                                    <figure>
                                        <img alt="" src="@tsolution2.Image">
                                        <div class="bg even"></div>
                                        <figcaption>
                                            <div class="ims-icon-font ims-icon-font-xiezilou solution-icon"></div>
                                            <h3>@tsolution2.Name</h3>
                                            <p>@tsolution2.Comment</p>
                                            <a href="@tsolution2.Url" target="_blank">查看详情</a>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="index-forums-sale">
    <div class="container forums-sale">
        <div class="forums-title">
            精选客户案例
        </div>
        <div class="forums-box">
            <div class="row">
                <div class="col-xs-4">
                    <div class="title">
                        电信行业<a href="/about/customer" target="_blank">更多&gt;</a>
                    </div>
                    @{
                        var customers = iMStore.Customer.FindAll(c => c.Type == 0).ToArray();
                        if (customers.Length > 0) {
                            <div class="content">
                                <img src="@customers[0].Image" alt="">
                                <div class="content-title">
                                    <a href="@customers[0].Url" target="_blank">@customers[0].Name</a>
                                </div>
                            </div>

                        }

                        if (customers.Length > 1) {
                            <div class="content">
                                <img src="@customers[1].Image" alt="">
                                <div class="content-title">
                                    <a href="@customers[1].Url" target="_blank">@customers[1].Name</a>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="col-xs-4">
                    <div class="title">
                        电力行业<a href="/about/customer" target="_blank">更多&gt;</a>
                    </div>
                    @{
                        customers = iMStore.Customer.FindAll(c => c.Type == 1).ToArray();
                        if (customers.Length > 0) {
                            <div class="content">
                                <img src="@customers[0].Image" alt="">
                                <div class="content-title">
                                    <a href="@customers[0].Url" target="_blank">@customers[0].Name</a>
                                </div>
                            </div>
                        }

                        if (customers.Length > 1) {
                            <div class="content">
                                <img src="@customers[1].Image" alt="">
                                <div class="content-title">
                                    <a href="@customers[1].Url" target="_blank">@customers[1].Name</a>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="col-xs-4">
                    <div class="title">
                        政府行业<a href="/about/customer" target="_blank">更多&gt;</a>
                    </div>
                    @{
                        customers = iMStore.Customer.FindAll(c => c.Type == 2).ToArray();
                        if (customers.Length > 0) {
                            <div class="content">
                                <img src="@customers[0].Image" alt="">
                                <div class="content-title">
                                    <a href="@customers[0].Url" target="_blank">@customers[0].Name</a>
                                </div>
                            </div>
                        }

                        if (customers.Length > 1) {
                            <div class="content">
                                <img src="@customers[1].Image" alt="">
                                <div class="content-title">
                                    <a href="@customers[1].Url" target="_blank">@customers[1].Name</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="//cdn.bootcss.com/unslider/2.0.3/js/unslider-min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/index.js")" type="text/javascript"></script>
}