@using Site.Models;
@section head {
    <link href="@Url.Content("~/content/theme/unslider.css")" rel="stylesheet" type="text/css" />
}

<div class="index-top-banner">
    <div class="top-banner">
        <ul>
            @foreach (var figure in iMStore.Carousel.OrderBy(c => c.Index)) {
            <li>
                @if (!string.IsNullOrWhiteSpace(figure.Url) && string.IsNullOrWhiteSpace(figure.Title)) {
                    <a href="@figure.Url" target="_blank">
                        <img alt="@figure.Comment" title="@figure.Comment" class="@figure.BgClass" src="/Content/images/ffffff.gif" />
                    </a>
                } else {
                    <img alt="@figure.Comment" title="@figure.Comment" class="@figure.BgClass" src="/Content/images/ffffff.gif" />
                }

                @if (!string.IsNullOrWhiteSpace(figure.Title)) {
                    <div class="container">
                        <div class="row-box">
                            <div class="slogan">
                                <h1>@figure.Title</h1>
                                <p>@figure.Subtitle</p>
                                <a href="@figure.Url" target="_blank" class="slogan-btn">@figure.BtnText</a>
                            </div>
                        </div>
                    </div>
                }
            </li>
            }
        </ul>
    </div>
</div>

<div class="index-top-events">
    <div class="container top-events">
        <div class="row">
            <div class="col-xs-3">
                <a href="/event/newCustomerEvent" target="_blank" class="events">
                    <div class="icon ims-icon-font-why"></div>
                    <div class="slogan">
                        <h3>选择艾睿普</h3>
                        <p>全面了解艾睿普</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="/event/newCustomerEvent" target="_blank" class="events">
                    <div class="icon ims-icon-font-shipin"></div>
                    <div class="slogan">
                        <h3>最新动态</h3>
                        <p>企业新闻，及时了解</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="http://www.taobao.com" target="_blank" class="events">
                    <div class="icon ims-icon-font-gift"></div>
                    <div class="slogan">
                        <h3>限时优惠</h3>
                        <p>全线产品8折起</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="/event/newCustomerEvent" target="_blank" class="events">
                    <div class="icon ims-icon-font-gonggao"></div>
                    <div class="slogan">
                        <h3>新品上线</h3>
                        <p>你的关注，我们的动力</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="index-products-sale">
    <div class="container products-sale">
        <div class="products-title">
            领先、安全、稳定的产品
        </div>
        <div class="sale-box">
            <ul class="tabs">
                <li class="tab-item active">
                    <div>软件产品系列</div>
                </li>
                <li class="tab-item">
                    <div>硬件产品系列</div>
                </li>
            </ul>
            <div class="content">
                <div class="content-item active">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6 pros0">
                                @{
                                    var software1 = iMStore.Software.Find(s => s.Index == 1);
                                    if (software1 != null) {
                                        <article>
                                            <figure class="products-main">
                                                <img class="icon product-icons-001" src="/Content/images/ffffff.gif">
                                                <figcaption>
                                                    <h3>@software1.Name</h3>
                                                    <p>@software1.Comment</p>
                                                    <div class="products-image">
                                                        <img alt="" src="@software1.Picture">
                                                        <div class="bg"></div>
                                                        <div class="products-detail">
                                                            <a href="@software1.Url" target="_blank">了解详情</a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                            <div class="products-price">
                                                <p>
                                                    <span>原价：<small class="old">¥ <strong>@string.Format("{0:F2}", software1.Original)</strong> /套</small></span>
                                                    <span>优惠：<small>¥ <strong>@string.Format("{0:F2}", software1.Price)</strong> /套</small></span>
                                                </p>
                                                <a href="@software1.Url" target="_blank">了解详情</a>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                            <div class="col-xs-6 pros1">
                                @{
                                    var software2 = iMStore.Software.Find(s => s.Index == 2);
                                    if (software2 != null) {
                                        <article>
                                            <figure class="products-main">
                                                <img class="icon product-icons-002" src="/Content/images/ffffff.gif" width="65" height="65">
                                                <figcaption>
                                                    <h3>@software2.Name</h3>
                                                    <p>@software2.Comment</p>
                                                    <div class="products-image">
                                                        <img alt="" src="@software2.Picture">
                                                        <div class="bg"></div>
                                                        <div class="products-detail">
                                                            <a href="@software2.Url" target="_blank">了解详情</a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                            <div class="products-price">
                                                <p>
                                                    <span>原价：<small class="old">¥ <strong>@string.Format("{0:F2}", software2.Original)</strong> /套</small></span>
                                                    <span>优惠：<small>¥ <strong>@string.Format("{0:F2}", software2.Price)</strong> /套</small></span>
                                                </p>
                                                <a href="@software2.Url" target="_blank">了解详情</a>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 pros4">
                                @{
                                    var software3 = iMStore.Software.Find(s => s.Index == 3);
                                    if (software3 != null) {
                                        <article>
                                            <figure class="products-main">
                                                <img class="icon product-icons-003" src="/Content/images/ffffff.gif" width="65" height="65">
                                                <figcaption>
                                                    <h3>@software3.Name</h3>
                                                    <p>@software3.Comment</p>
                                                    <div class="products-image">
                                                        <img alt="" src="@software3.Picture">
                                                        <div class="bg"></div>
                                                        <div class="products-detail">
                                                            <a href="@software3.Url" target="_blank">了解详情</a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                            <div class="products-price">
                                                <p>
                                                    <span>原价：<small class="old">¥ <strong>@string.Format("{0:F2}", software3.Original)</strong> /套</small></span>
                                                    <span>优惠：<small>¥ <strong>@string.Format("{0:F2}", software3.Price)</strong> /套</small></span>
                                                </p>
                                                <a href="@software3.Url" target="_blank">了解详情</a>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                            <div class="col-xs-6 pros5">
                                @{
                                    var software4 = iMStore.Software.Find(s => s.Index == 4);
                                    if (software4 != null) {
                                        <article>
                                            <figure class="products-main">
                                                <img class="icon product-icons-004" src="/Content/images/ffffff.gif" width="65" height="65">
                                                <figcaption>
                                                    <h3>@software4.Name</h3>
                                                    <p>@software4.Comment</p>
                                                    <div class="products-image">
                                                        <img alt="" src="@software4.Picture">
                                                        <div class="bg"></div>
                                                        <div class="products-detail">
                                                            <a href="@software4.Url" target="_blank">了解详情</a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                            <div class="products-price">
                                                <p>
                                                    <span>原价：<small class="old">¥ <strong>@string.Format("{0:F2}", software4.Original)</strong> /套</small></span>
                                                    <span>优惠：<small>¥ <strong>@string.Format("{0:F2}", software4.Price)</strong> /套</small></span>
                                                </p>
                                                <a href="@software4.Url" target="_blank">了解详情</a>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6 pros0">
                                @{
                                    var hardware1 = iMStore.Hardware.Find(s => s.Index == 1);
                                    if (hardware1 != null) {
                                        <article>
                                            <figure class="products-main">
                                                <img class="icon product-icons-101" src="/Content/images/ffffff.gif" width="65" height="65">
                                                <figcaption>
                                                    <h3>@hardware1.Name</h3>
                                                    <p>@hardware1.Comment</p>
                                                    <div class="products-image">
                                                        <img alt="" src="@hardware1.Picture">
                                                        <div class="bg"></div>
                                                        <div class="products-detail">
                                                            <a href="@hardware1.Url" target="_blank">了解详情</a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                            <div class="products-price">
                                                <p>
                                                    <span>原价：<small class="old">¥ <strong>@string.Format("{0:F2}", hardware1.Original)</strong> /套</small></span>
                                                    <span>优惠：<small>¥ <strong>@string.Format("{0:F2}", hardware1.Price)</strong> /套</small></span>
                                                </p>
                                                <a href="@hardware1.Url" target="_blank">了解详情</a>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                            <div class="col-xs-6 pros1">
                                @{
                                    var hardware2 = iMStore.Hardware.Find(s => s.Index == 2);
                                    if (hardware2 != null) {
                                        <article>
                                            <figure class="products-main">
                                                <img class="icon product-icons-104" src="/Content/images/ffffff.gif" width="65" height="65">
                                                <figcaption>
                                                    <h3>@hardware2.Name</h3>
                                                    <p>@hardware2.Comment</p>
                                                    <div class="products-image">
                                                        <img alt="" src="@hardware2.Picture">
                                                        <div class="bg"></div>
                                                        <div class="products-detail">
                                                            <a href="@hardware2.Url" target="_blank">了解详情</a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                            <div class="products-price">
                                                <p>
                                                    <span>原价：<small class="old">¥ <strong>@string.Format("{0:F2}", hardware2.Original)</strong> /套</small></span>
                                                    <span>优惠：<small>¥ <strong>@string.Format("{0:F2}", hardware2.Price)</strong> /套</small></span>
                                                </p>
                                                <a href="@hardware2.Url" target="_blank">了解详情</a>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 pros2">
                                @{
                                    var hardware3 = iMStore.Hardware.Find(s => s.Index == 3);
                                    if (hardware3 != null) {
                                        <article>
                                            <figure class="products-main">
                                                <img class="icon product-icons-102" src="/Content/images/ffffff.gif" width="65" height="65">
                                                <figcaption>
                                                    <h3>@hardware3.Name</h3>
                                                    <p>@hardware3.Comment</p>
                                                    <div class="products-image">
                                                        <img alt="" src="@hardware3.Picture">
                                                        <div class="bg"></div>
                                                        <div class="products-detail">
                                                            <a href="@hardware3.Url" target="_blank">了解详情</a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                            <div class="products-price">
                                                <p>
                                                    <span>原价：<small class="old">¥ <strong>@string.Format("{0:F2}", hardware3.Original)</strong> /套</small></span>
                                                    <span>优惠：<small>¥ <strong>@string.Format("{0:F2}", hardware3.Price)</strong> /套</small></span>
                                                </p>
                                                <a href="@hardware3.Url" target="_blank">了解详情</a>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                            <div class="col-xs-6 pros3">
                                @{
                                    var hardware4 = iMStore.Hardware.Find(s => s.Index == 4);
                                    if (hardware4 != null) {
                                        <article>
                                            <figure class="products-main">
                                                <img class="icon product-icons-105" src="/Content/images/ffffff.gif" width="65" height="65">
                                                <figcaption>
                                                    <h3>@hardware4.Name</h3>
                                                    <p>@hardware4.Comment</p>
                                                    <div class="products-image">
                                                        <img alt="" src="@hardware4.Picture">
                                                        <div class="bg"></div>
                                                        <div class="products-detail">
                                                            <a href="@hardware4.Url" target="_blank">了解详情</a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                            <div class="products-price">
                                                <p>
                                                    <span>原价：<small class="old">¥ <strong>@string.Format("{0:F2}", hardware4.Original)</strong> /套</small></span>
                                                    <span>优惠：<small>¥ <strong>@string.Format("{0:F2}", hardware4.Price)</strong> /套</small></span>
                                                </p>
                                                <a href="@hardware4.Url" target="_blank">了解详情</a>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 pros4">
                                @{
                                    var hardware5 = iMStore.Hardware.Find(s => s.Index == 5);
                                    if (hardware5 != null) {
                                        <article>
                                            <figure class="products-main">
                                                <img class="icon product-icons-103" src="/Content/images/ffffff.gif" width="65" height="65">
                                                <figcaption>
                                                    <h3>@hardware5.Name</h3>
                                                    <p>@hardware5.Comment</p>
                                                    <div class="products-image">
                                                        <img alt="" src="@hardware5.Picture">
                                                        <div class="bg"></div>
                                                        <div class="products-detail">
                                                            <a href="@hardware5.Url" target="_blank">了解详情</a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                            <div class="products-price">
                                                <p>
                                                    <span>原价：<small class="old">¥ <strong>@string.Format("{0:F2}", hardware5.Original)</strong> /套</small></span>
                                                    <span>优惠：<small>¥ <strong>@string.Format("{0:F2}", hardware5.Price)</strong> /套</small></span>
                                                </p>
                                                <a href="@hardware5.Url" target="_blank">了解详情</a>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                            <div class="col-xs-6 pros5">
                                @{
                                    var hardware6 = iMStore.Hardware.Find(s => s.Index == 6);
                                    if (hardware6 != null) {
                                        <article>
                                            <figure class="products-main">
                                                <img class="icon product-icons-106" src="/Content/images/ffffff.gif" width="65" height="65">
                                                <figcaption>
                                                    <h3>@hardware6.Name</h3>
                                                    <p>@hardware6.Comment</p>
                                                    <div class="products-image">
                                                        <img alt="" src="@hardware6.Picture">
                                                        <div class="bg"></div>
                                                        <div class="products-detail">
                                                            <a href="@hardware6.Url" target="_blank">了解详情</a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                            <div class="products-price">
                                                <p>
                                                    <span>原价：<small class="old">¥ <strong>@string.Format("{0:F2}", hardware6.Original)</strong> /套</small></span>
                                                    <span>优惠：<small>¥ <strong>@string.Format("{0:F2}", hardware6.Price)</strong> /套</small></span>
                                                </p>
                                                <a href="@hardware6.Url" target="_blank">了解详情</a>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="index-solutions-sale">
    <div class="container-fluid solutions-sale">
        <div class="solutions-title">
            成熟、专业、高效的解决方案
        </div>
        <div class="sale-box">
            <div class="slide-body">
                <div class="solutions-banner">
                    <ul>
                        <li>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-3 slide-item">
                                        <article>
                                            <figure>
                                                <img alt="" src="/Content/images/solutions-bg-01.jpg">
                                                <div class="bg"></div>
                                                <figcaption>
                                                    <div class="icon ims-icon-font-gift"></div>
                                                    <h3>解决方案1</h3>
                                                    <p>解决方案的简单介绍</p>
                                                    <a href="/solution/solution1" target="_blank">查看详情</a>
                                                </figcaption>
                                            </figure>
                                        </article>
                                    </div>
                                    <div class="col-xs-3 slide-item">
                                        <article>
                                            <figure>
                                                <img alt="" src="/Content/images/solutions-bg-01.jpg">
                                                <div class="bg even"></div>
                                                <figcaption>
                                                    <div class="icon ims-icon-font-gift"></div>
                                                    <h3>解决方案2</h3>
                                                    <p>解决方案的简单介绍</p>
                                                    <a href="/solution/solution2" target="_blank">查看详情</a>
                                                </figcaption>
                                            </figure>
                                        </article>
                                    </div>
                                    <div class="col-xs-3 slide-item">
                                        <article>
                                            <figure>
                                                <img alt="" src="/Content/images/solutions-bg-01.jpg">
                                                <div class="bg"></div>
                                                <figcaption>
                                                    <div class="icon ims-icon-font-gift"></div>
                                                    <h3>解决方案3</h3>
                                                    <p>解决方案的简单介绍</p>
                                                    <a href="/solution/solution3" target="_blank">查看详情</a>
                                                </figcaption>
                                            </figure>
                                        </article>
                                    </div>
                                    <div class="col-xs-3 slide-item">
                                        <article>
                                            <figure>
                                                <img alt="" src="/Content/images/solutions-bg-01.jpg">
                                                <div class="bg even"></div>
                                                <figcaption>
                                                    <div class="icon ims-icon-font-gift"></div>
                                                    <h3>解决方案4</h3>
                                                    <p>解决方案的简单介绍</p>
                                                    <a href="/solution/solution4" target="_blank">查看详情</a>
                                                </figcaption>
                                            </figure>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-3 slide-item">
                                        <article>
                                            <figure>
                                                <img alt="" src="/Content/images/solutions-bg-01.jpg">
                                                <div class="bg"></div>
                                                <figcaption>
                                                    <div class="icon ims-icon-font-gift"></div>
                                                    <h3>解决方案5</h3>
                                                    <p>解决方案的简单介绍</p>
                                                    <a href="/solution/solution5" target="_blank">查看详情</a>
                                                </figcaption>
                                            </figure>
                                        </article>
                                    </div>
                                    <div class="col-xs-3 slide-item">
                                    </div>
                                    <div class="col-xs-3 slide-item">
                                    </div>
                                    <div class="col-xs-3 slide-item">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="slide-btn-panel left-btn">
                <div class="btn-bg"></div>
                <button class="slide-btn left-btn">
                    <i class="ims-icon-font-left"></i>
                </button>
            </div>
            <div class="slide-btn-panel right-btn">
                <div class="btn-bg"></div>
                <button id="bbb" class="slide-btn right-btn">
                    <i class="ims-icon-font-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="index-solutions">
    <div class="container solutions-box">
        <div class="solutions-title">
            成熟、专业、高效的解决方案
        </div>
        <div class="solutions-content">
            <div class="row bottom">
                <div class="col-xs-4">
                    <div class="solutions-item">
                        @{
                            var hsolution1 = iMStore.Hsolution.Find(s => s.Index == 1);
                            if (hsolution1 != null) {
                                <article>
                                    <figure>
                                        <img alt="" src="/Content/images/solutions-bg-01.jpg">
                                        <div class="bg"></div>
                                        <figcaption>
                                            <div class="icon ims-icon-font-dianxin"></div>
                                            <h3>@hsolution1.Name</h3>
                                            <p>@hsolution1.Comment</p>
                                            <a href="@hsolution1.Url" target="_blank">查看详情</a>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="solutions-item">
                        @{
                            var hsolution2 = iMStore.Hsolution.Find(s => s.Index == 2);
                            if (hsolution2 != null) {
                                <article>
                                    <figure>
                                        <img alt="" src="/Content/images/solutions-bg-02.jpg">
                                        <div class="bg"></div>
                                        <figcaption>
                                            <div class="icon ims-icon-font-nongye"></div>
                                            <h3>@hsolution2.Name</h3>
                                            <p>@hsolution2.Comment</p>
                                            <a href="@hsolution2.Url" target="_blank">查看详情</a>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="solutions-item">
                        @{
                            var hsolution3 = iMStore.Hsolution.Find(s => s.Index == 3);
                            if (hsolution3 != null) {
                                <article>
                                    <figure>
                                        <img alt="" src="/Content/images/solutions-bg-03.jpg">
                                        <div class="bg"></div>
                                        <figcaption>
                                            <div class="icon ims-icon-font-gongye"></div>
                                            <h3>@hsolution3.Name</h3>
                                            <p>@hsolution3.Comment</p>
                                            <a href="@hsolution3.Url" target="_blank">查看详情</a>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="solutions-item">
                        @{
                            var hsolution4 = iMStore.Hsolution.Find(s => s.Index == 4);
                            if (hsolution4 != null) {
                                <article>
                                    <figure>
                                        <img alt="" src="/Content/images/solutions-bg-04.jpg">
                                        <div class="bg even"></div>
                                        <figcaption>
                                            <div class="icon ims-icon-font-zhengfu"></div>
                                            <h3>@hsolution4.Name</h3>
                                            <p>@hsolution4.Comment</p>
                                            <a href="@hsolution4.Url" target="_blank">查看详情</a>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="solutions-item">
                        @{
                            var tsolution1 = iMStore.Tsolution.Find(s => s.Index == 1);
                            if (tsolution1 != null) {
                                <article>
                                    <figure>
                                        <img alt="" src="/Content/images/solutions-bg-05.jpg">
                                        <div class="bg even"></div>
                                        <figcaption>
                                            <div class="icon ims-icon-font-qiye"></div>
                                            <h3>@tsolution1.Name</h3>
                                            <p>@tsolution1.Comment</p>
                                            <a href="@tsolution1.Url" target="_blank">查看详情</a>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="solutions-item">
                        @{
                            var tsolution2 = iMStore.Tsolution.Find(s => s.Index == 2);
                            if (tsolution2 != null) {
                                <article>
                                    <figure>
                                        <img alt="" src="/Content/images/solutions-bg-06.jpg">
                                        <div class="bg even"></div>
                                        <figcaption>
                                            <div class="icon ims-icon-font-bangonglou"></div>
                                            <h3>@tsolution2.Name</h3>
                                            <p>@tsolution2.Comment</p>
                                            <a href="@tsolution2.Url" target="_blank">查看详情</a>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="index-forums-sale">
    <div class="container forums-sale">
        <div class="forums-title">
            精选客户案例
        </div>
        <div class="forums-box">
            <div class="row">
                <div class="col-xs-4">
                    <div class="title">
                        电信行业<a href="#" target="_blank">更多&gt;</a>
                    </div>
                    <div class="content">
                        <img src="/Content/images/forums-bg-01.jpg" alt="">
                        <div class="content-title">
                            <a href="#" target="_blank">2017上海移动项目</a>
                        </div>
                    </div>
                    <ul class="detail">
                        <li><a href="#" target="_blank"><i></i>上海联通项目</a></li>
                        <li><a href="#" target="_blank"><i></i>上海电信项目</a></li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <div class="title">
                        电力行业<a href="#" target="_blank">更多&gt;</a>
                    </div>
                    <div class="content">
                        <img src="/Content/images/forums-bg-02.jpg" alt="">
                        <div class="content-title">
                            <a href="#" target="_blank">电力行业项目1</a>
                        </div>
                    </div>
                    <ul class="detail">
                        <li><a href="#" target="_blank"><i></i>电力行业项目2</a></li>
                        <li><a href="#" target="_blank"><i></i>电力行业项目3</a></li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <div class="title">
                        政府行业<a href="#" target="_blank">更多&gt;</a>
                    </div>
                    <div class="content">
                        <img src="/Content/images/forums-bg-03.jpg" alt="">
                        <div class="content-title">
                            <a href="#" target="_blank">政府项目1</a>
                        </div>
                    </div>
                    <ul class="detail">
                        <li><a href="#" target="_blank"><i></i>政府项目2</a></li>
                        <li><a href="#" target="_blank"><i></i>政府项目3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="//cdn.bootcss.com/unslider/2.0.3/js/unslider-min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/index.js")" type="text/javascript"></script>
}